/* progress bar */
.progress-bar:hover .progress-bar-value {
  background-color: limegreen;
}

.progress-bar:hover .progress-bar-ball {
  display: block;
}

/* sidebar */
#logo-sidebar:hover {
  padding: 0 calc(var(--space-s) - 3px);
  border-left: 3px solid limegreen;
  color: limegreen;
}

.icon-sidebar:hover {
  color: white;
  padding: 0 calc(var(--space-s) - 3px);
  border-left: 3px solid limegreen;
}

.icon-sidebar:hover path {
  fill: limegreen;
}

#sidebar-playlist h5:hover,
#sidebar-playlist .row:hover,
#sidebar-playlist div:hover {
  color: limegreen;
}
#sidebar-playlist-head h5:hover,
#sidebar-playlist-head div:hover {
  color: limegreen;
}

#sidebar-playlist a:hover {
  color: white;
}

.user-element:hover {
  color: white;
}
/* main */

.button:hover {
  transform: scale(1.1);
}
.main-content li:hover {
  color: white;
  border-bottom: 1px solid limegreen;
}

.main-content-container > h6 {
  margin: var(--space-xs) 0;
}

.main-content-container .album-media:hover img {
  transition: 0.5s ease;
  background-color: black;
  opacity: 0.5;
  /* filter: blur(3px); */
}

.main-content-container .album-media:hover .album-play-img {
  display: block;
}

/* footer */

.foot-col a:hover {
  color: white;
  text-decoration: underline;
}

.foot-col .fa-circle-play:hover {
  transform: scale(1.1);
}
