/* progress bar */
.progress-bar:hover .progress-bar-value {
  background-color: limegreen;
}

.progress-bar:hover .progress-bar-ball {
  display: block;
}

/* sidebar */
#logo-sidebar:hover {
  padding: 0 calc(var(--space-s) - 3px);
  border-left: 3px solid limegreen;
  color: limegreen;
}

.icon-sidebar:hover {
  color: white;
  padding: 0 calc(var(--space-s) - 3px);
  border-left: 3px solid limegreen;
}

.icon-sidebar:hover path {
  fill: limegreen;
}

#sidebar-playlist h5:hover,
#sidebar-playlist .row:hover,
#sidebar-playlist div:hover {
  color: limegreen;
}

#sidebar-playlist a:hover {
  color: white;
}

/* footer */

.foot-col a:hover {
  color: white;
  text-decoration: underline;
}

.fa-circle-play:hover {
  transform: scale(1.1);
}
