/* +++++++++++
++ Responsive ++
++++++++++++*/

/* il sito è screen firs */

/* tablet */
@media screen and (max-width: 992px) {
  .debug {
    background-color: var(--db-color-blue);
  }
}

/* smartphone */
@media screen and (max-width: 578px) {
  .debug {
    background-color: var(--db-color-red);
  }
}

/* xx-small */
@media screen and (max-width: 350px) {
  .debug {
    background-color: var(--db-color-yellow);
  }
}
