/* +++++++++++
++ Reset    ++
++++++++++++*/
:root {
  --db-color-red: rgba(250, 0, 0, 0.2);
  --db-color-blue: rgba(0, 0, 250, 0.2);
  --db-color-green: rgba(0, 250, 0, 0.2);
  --space-s: 5px;
  --space-m: 20px;
  --space-l: 50px;
  --space-footer: 80px;
  --space-sidebar: 150px;
  --space-main-content-header: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: white;
}

img {
  width: 100%;
}

/* +++++++++++
  ++ Debug    ++
  ++++++++++++*/

.debug {
  border: 1px dashed red;
  background-color: var(--db-color-green);
  min-height: 20px;
}

/* +++++++++++
++ layout   ++
++++++++++++*/
.row {
  display: flex;
}

#main {
  display: flex;
}

.main-sidebar {
  width: var(--space-sidebar);
  height: calc(100vh - var(--space-footer));
  background-color: #000000;
}

.main-content {
  width: calc(100% - var(--space-sidebar));
  height: calc(100vh - var(--space-footer));
  overflow: auto;
  background-color: #141922;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.small-txt {
  font-size: smaller;
  font-weight: lighter;
}

a {
  color: currentColor;
  text-decoration: none;
}

i {
  margin: 0 var(--space-s);
}
/* 
main {
  height: calc(100vh - var(--space-footer));
} */

footer {
  position: relative;
  z-index: 10;
  height: var(--space-footer);

  background-color: #282828;
}

/* +++++++++++
++ Section  ++
++++++++++++*/

/* main content */
#main-content-header {
  /* position sticky per occupare spazio nel flusso */
  position: sticky;
  top: 0;
  left: 0;

  background-color: rgba(20, 25, 34, 0.5);
  z-index: 9;
  /* height: var(--space-main-content-header); */

  text-align: right;
  line-height: var(--space-main-content-header);
}

#main-content-header .row {
  justify-content: end;
  align-items: center;
}

/* footer */
footer .container {
  color: #5a5a5a;
}

footer h5 {
  color: white;
  font-weight: bolder;
}

footer .row {
  height: var(--space-footer);
  justify-content: space-between;
  align-items: center;
}

.foot-col {
  display: flex;
  align-items: center;
  line-height: alc(var(--space-footer) / 1.5);
}

.foot-col > div {
  margin: var(--space-m);
}
.foot-col > div:first-child {
  margin-left: 0;
}
.foot-col > div:last-child {
  margin-right: 0;
}

footer img {
  max-width: calc(var(--space-footer) / 1.5);
  aspect-ratio: 1;
  object-fit: cover;
}
