/* +++++++++++
++ Reset    ++
++++++++++++*/
:root {
  --db-color-red: rgba(250, 0, 0, 0.2);
  --db-color-blue: rgba(0, 0, 250, 0.2);
  --db-color-green: rgba(0, 250, 0, 0.2);
  --space-s: 5px;
  --space-m: 20px;
  --space-l: 50px;
  --space-footer: 100px;
  --space-nav: 150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

/* +++++++++++
  ++ Debug    ++
  ++++++++++++*/

.debug {
  border: 1px dashed red;
  background-color: var(--db-color-green);
  min-height: 20px;
}

/* +++++++++++
++ layout   ++
++++++++++++*/
.row {
  display: flex;
}
.col.main-nav {
  width: var(--space-nav);
}

.col.main-content {
  width: calc(100% - var(--space-nav));
}

.container {
  margin: 0 auto;
  padding: var(--space-s) 0;
  width: 90%;
}

main {
  height: calc(100vh - var(--space-footer));
}

footer {
  position: relative;
  z-index: 10;

  height: var(--space-footer);
}

/* +++++++++++
++ Section  ++
++++++++++++*/
